[Unit]
Description=ClockIn

[Service]
WorkingDirectory=/root/clock_in #edit this, match clock_in location
ExecStart=/usr/bin/python clock_in.py

[Install]
WantedBy=multi-user.target
