{% extends "layout.html" %}
{% block body %}
    <h2>User Maker</h2>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method=post>
          <dl>
              <dt>Username:
              <dd><input type=text name=username>
              <dt>Password:
              <dd><input type=password name=password>
	      <dt>Password re-entry:
	      <dd><input type=password name=password_try>
	      <dt>Admin user?
	      <dd><input type=checkbox name=check>
              <dd><input type=submit value=Done>
          </dl>
    </form>
{% endblock %}

