<!doctype html>
<title>Clock-In</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Summer Research Clock-In</h1>
    <div class=metanav>
	{% if is_admin %}
		<a href="{{ url_for('add_user') }}">add user</a>
	{% endif %}
    {% if not session.username %}
        <a href="{{ url_for('login') }}">log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
        </div>
    {% for message in get_flashed_messages() %}
	{% if not loop.first %}<br /><br />
	{% else %} <div class=flash>
	{% endif %}
	{{ message }}
	{% if loop.last %} </div> {% endif %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>
